**/node_modules
**/.nuxt
**/.output
**/dist
**/.turbo

.git
.gitignore
.env
.env.local
.env.*.local
.DS_Store

uploads
caddy_data
caddy_config
postgres_data
backups

*.log
coverage
.vscode
.idea
README.md
