# Dependencies
node_modules/

# Build
.nuxt/
.output/
dist/

# Environment
.env
.env.*
!.env.example
!.env.prod.example

# Uploads
uploads/

# Backups
backups/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/

# Misc
*.local
.nitro/
.cache/
